<html xmlns:th="http://www.thymeleaf.org">
<nav class="navbar navbar-expand-lg bg-body-tertiary">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">Multistream</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
			data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item"><a class="nav-link"
					th:classappend="${currentUrl.equals('dashboard') ? 'active' : 'inactive'}"
					aria-current="page" href="/dashboard"
					th:text="#{dashboard.dashboard}"></a></li>
				<li class="nav-item"><a class="nav-link"
					th:classappend="${currentUrl.equals('/settings') ? 'active' : 'inactive'}"
					aria-current="page" href="/settings" th:text="#{settings}"></a></li>
			</ul>
			<span class="navbar-text">
				<div th:unless="${isAuthenticated}">
					<a href="/oauth2/authorization/twitch" role="button"
						class="btn btn-sm btn-primary btn-lg active"
						th:text="#{generic.login}"></a>
				</div>
				<div th:if="${isAuthenticated}">
					<form class="form-signin" method="post" action="/logout">
						<input name="_csrf" type="hidden" th:value="${_csrf.token}">
						<button class="btn btn-sm btn-primary btn-block" type="submit"
							th:text="#{generic.logout}"></button>
					</form>
				</div>
			</span>
		</div>
	</div>
</nav>
</html>